.block1 {
    display: inline-block;
    width: 200px;
    height: 400px;
    background: red;
    margin: auto;
}
.block2 {display: inline-block;
    width: 200px;
    height: 400px;
    background: green;
    margin: auto;

}
.block3 {
    display: inline-block;
    width: 200px;
    height: 400px;
    background: blue;
    margin: auto;
}
.block4 {
    display: inline-block;
    width: 200px;
    height: 400px;
    background: black;
    margin: auto;
}
.block5 {
    display: inline-block;
    width: 200px;
    height: 400px;
    background: yellowgreen;
    margin: auto;
}
